.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Answer {
  margin-left:3em;
  margin-right:3em;
  width: 90vw;
  height:50vh;
}

